
ps-client >= 0.0.4a

# expecto-botronum/modules/conversation.py: 5
pbwrap >= 1.2.0

# expecto-botronum/modules/admin.py: 8
psutil >= 5.7.0

# expecto-botronum/modules/chatlog.py: 6
pytz >= 2020.1

# expecto-botronum/modules/superhero.py: 1
requests >= 2.20.0

# for testing only
pylint >= 2.5.2
pylint-exit >= 1.1.0
pytest >= 5.4.3

